/* Estilos Login */
.login .card{
  margin-top: 80px;
}
/* Estilos para el header */
.header .content {
  padding: 15px;
}
.header .profile-image{
  border-radius: 40px;
  height: 50px;
  width: 50px;
  background-color: #4E5D6C;
  color: #fff;
  font-size: 20px;
  padding-top: 8px;
  margin-left: 10px;
}
.header .profile-image span{
  margin-left: 18px;
}
.header .dropdown .dropdown-menu{
  margin-top: 9px;
}
.header .dropdown .user-name{
  color: #fff;
}
.header .dropdown .dropdown-menu .logout:hover{
  background-color: #FA6F6F;
  cursor: pointer;
}
/* Estilos para Home */
.home .card.col-12{
  max-width: 100%;
  height: 200px;
  padding: 0px;
  margin-top:15px;
}
/* Estilos para la lista de Fabricas */
.fabricas-lista .contenedor-tabla{
  padding-top: 15px;
}
/* Estilos para tabla */
.tabla-flexible .table td{
  vertical-align: middle;
}
.tabla-flexible .table thead th {
  border-bottom: none;
  height: 50px;
  vertical-align: middle;
}
.tabla-flexible .table-secondary td {
  border: none;
}
.tabla-flexible .btn-outline-primary{
  height: 38px;
  width: 48px;
}
.tabla-flexible .btn-outline-danger{
  height: 38px;
  width: 48px;
}
/* Estilos para formulario de fabricas */
.fabricas-editar .contenedor-formulario{
  padding-top: 15px;
}
.fabricas-editar .contenedor-formulario input:disabled{
  color: #FFF;
}
.fabricas-editar .btn-link{
  color: #fff;
}
.fabricas-editar .btn-link:focus, .btn-link.focus {
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fabricas-editar .btn-link:hover {
  color: #fff;
  text-decoration: none;
}
.fabricas-editar .btn-link.collapsed .material-icons{
  transform: rotate(0deg);
}
.fabricas-editar .btn-link .material-icons{
  transform: rotate(180deg);
  transition-duration: 0.25s;
}
/* Modal */
.modal-custom{
  padding: 0px;
  width: 400px;
}
@media (max-width: 450px){
  .modal-custom{
    padding: 0px;
    width: 300px;
  }
}
@media (max-width: 350px){
  .modal-custom{
    padding: 0px;
    width: 200px;
  }
}
/* Editar Contactos Modal */
.contactos-editar .header{
  height: 65px;
  background-color: #DF691A;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}
.contactos-editar .modal-cerrar{
  color: #fff;
  background-color: #DF691A;
  border: none;
}
.contactos-editar .formulario{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  font-size: 15px;
  background-color: #2B3E50;
  border-left: solid 1px #DF691A;
  border-right: solid 1px #DF691A;
  border-bottom: solid 1px #DF691A;
}
/* Editar pedidos Modal */
.contactos-editar .contenedor-productos{
  border: solid 1px #DF691A;
  padding: 15px;
}
/* Editar productos Modal */
.productos-editar .header{
  height: 65px;
  background-color: #DF691A;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}
.productos-editar .modal-cerrar{
  color: #fff;
  background-color: #DF691A;
  border: none;
}
.productos-editar .formulario{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  font-size: 15px;
  background-color: #2B3E50;
  border-left: solid 1px #DF691A;
  border-right: solid 1px #DF691A;
  border-bottom: solid 1px #DF691A;
}
.productos-editar .contenedor-productos{
  border: solid 1px #DF691A;
  padding: 15px;
}
/* Fabricas Pagos */
.fabricas-pagos .mensaje-deuda{
  border: solid 1px #DF691A;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 15px;
  width: 100%;
  text-align-last: left;
  padding-top: 18px;
}
.fabricas-pagos .btn-link{
  color: #fff;
}
.fabricas-pagos .btn-link:focus, .btn-link.focus {
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fabricas-pagos .btn-link:hover {
  color: #fff;
  text-decoration: none;
}
.fabricas-pagos .btn-link.collapsed .material-icons{
  transform: rotate(0deg);
}
.fabricas-pagos .btn-link .material-icons{
  transform: rotate(180deg);
  transition-duration: 0.25s;
}
/* Estilos editar usuario */
.usuarios-editar .checkbox-permits:focus, .checkbox-permits.focus{
  border: none;
  outline: none;
  box-shadow: none;
}
.usuarios-editar .contenedor-permisos{
  padding: 10px;
  border: solid 1px #DF691A;
  display: block;
  margin-bottom: 15px;
}
.usuarios-editar .checkbox-permits{
  height: 30px;
}